#main

    %table.table
        %thead
            %th Reviews
            %th Stars
            %th Description

        %tbody
            -@reviews.each do |rev|
                %tr
                    %td
                    %td= rev.stars
                    %td= rev.description

    %br

    =link_to "Leave a review", new_review_path(:rider_id => params[:id] , :driver_id => params[:driver_id])
