#main
    %h1.center.fire Edit Driver Info

    =form_for @driver, :method => :patch do |f|
        .field
            =f.label :first, "First Name"
            =f.text_field :first

        .field
            =f.label :last, "Last Name"
            =f.text_field :last

        .field
            =f.label :make, "Car Make"
            =f.text_field :make

        .field
            =f.label :model, "Car Model"
            =f.text_field :model

        .field
            =f.label :plate, "License Plate"
            =f.text_field :plate

        .field
            =f.label :seats, "Available Seats"
            =f.number_field :seats

        .field
            =f.label :price, "Price"
            =f.number_field :price

        .field
            =f.label :available, "Currently Available?"
            =f.check_box :available

        -# if we want to add images later
        -# .field
        -#   =f.label :image, "Image"
        -#   =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

        .field
            =f.submit "Update Driver Info"
