// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center{
  text-align: center;
}
.title{
  color: maroon;
  text-align: center;
}
.field {
  margin: auto;
  text-align: center;
  width: 25%;
  padding: 10px 10px;
  border: 1px solid maroon;
  border-radius: 3px;
  box-sizing: border-box;
}
.actions{
  text-align: center;
}
.links{
  text-align: center;
}
.alert{
  text-align: center;
  color: red;
}
.notice{
  text-align: center;
  color: blue;
}
