// Place all the styles related to the Rider controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rider{
  text-align: center;
  font-size: 20px;
}

.driver{
  text-color: white;
  color: #000;
  font-family: 'Caesar Dressing', cursive;
  font-size: 5em;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: .2em;
}

.reviews{
  text-color: maroon;
}

div.info{
  font-size: 2em;
  font-family: 'Amethysta', serif;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .3em;
  white-space:nowrap;
}

td, th {
  border: 2px solid maroon;
}
.table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 80%;
}
.price, .seats, .stars {
  text-align: center;
}
.row{
  padding: 6px;
}
.description{
  width: 30%;
}
.inputs{
  padding: 10px;
}
